[submodule "closure"]
	path = third_party/closure/compiler
	url = https://github.com/google/closure-compiler
[submodule "grpc-web"]
	path = third_party/grpc-web
	url = https://github.com/grpc/grpc-web.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/google/protocolbuffers.git
