[submodule "schema"]
	path = schema
	url = git@github.com:bloombox/schema.git
	branch = service-flags
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:google/protobuf.git
	branch = master
